/* Bui Hoang Duc */
body {
  color:#000000;
  background-color: #000000;
  /* background:url('bg.jpg') no-repeat center center fixed;*/
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a  { color:#0000FF; }
a:visited { color:#800080; }
a:hover { color:#008000; }
a:active { color:#FF0000; }
.page-wrapper {
  padding:0 10% 0 10%;
  margin:2;
  position:relative;
}
.body-wrapper{
  padding:5% 10% 5% 10%;
  margin:5;
  position:relative;
  background-color: white;
  border-radius:13px;
}
h1 { 
    display: block;
    font-size: 1.5em;
    margin-top: -1.5em;
    margin-bottom: 0.0em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 {
  margin-bottom: auto;
  padding-bottom: auto;
}
ul, ol {
  margin:0;
  padding:0;
}

.photo {
  width: 140px;
  margin-left: 10px;
  margin-top: 10px;
}

img.alignright {float:right; margin:0 0 1em 1em}

